th, td{border: solid medium black;}
td.doraemon{color: cyan;}
td.nobita{color: red;}
td.shizuka{color: deeppink;}
td.takeshi{color: #ff7f50;}
td.suneo{color: #00ff7f;}
li.doraemon{color: cyan;}
li.nobita{color: red;}
li.shizuka{color: deeppink;}
li.takeshi{color: #ff7f50;}
li.suneo{color: #00ff7f;}
